<footer>
        <div class="nome">
            <h1>Gabriel</h1>
        </div>
        <div class="sobrenome">
            <h2>Barbero Colombo</h2>
        </div>

    <article>
        <div>
            <p>contato:</p>
            <p>email:gabrielbarberog@gmail.com</p>
        </div>
        <div>
            <p>Projetos</p>
            <p>Redes</p>
        </div>
        <div>
            <p>Sobre Mim</p>
            <p>Contato</p>
        </div>
    </article>
    <div class="links">

        <a href="https://www.instagram.com/gabrielbarberog/" target="_blank" class="links"><img src="assets/Redes/instagramMono.svg" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/gabrielbarberodev/" target="_blank" class="links"><img src="assets/Redes/linkedinMono.svg" alt="LinkedIn"></a>
        <a href="https://github.com/Gabrielbarbero" target="_blank" class="links"><img  src="assets/Redes/githubInverted.svg" alt="GitHub" ></a>
    </div>
    <div class="Copyright">
        <h3>Copyright© 2026 Gabriel Barbero Colombo. All rights reserved.</h3>
    </div>
</footer>