<article>
<form class="contato-form">
    <div class="campo">
        <label>Nome:</label>
        <input type="text" placeholder="Nome">
    </div>

    <div class="campo">
        <label>Email:</label>
        <input type="email" placeholder="Email">
    </div>

    <div class="campo">
        <label>Assunto:</label>
        <input type="text" placeholder="Assunto">
    </div>

    <div class="campo">
        <label>Mensagem:</label>
        <textarea rows="4" placeholder="Escreva aqui"></textarea>
    </div>

    <button type="button" class="btn-enviar">Enviar Mensagem</button>
</form>
</article>