<div class="Teste">
    <button class="hub" (click)="toggleSidebar()"></button>
    <button (click)="DestinyScroll('Projetos')" class="testandobotoes">Projetos</button>
    <button (click)="DestinyScroll('Redes')" class="testandobotoes">Redes</button>

    <div class="search-container">
        <input class="SearchBar"
               type="text"
               [(ngModel)]="searchTerm"
               placeholder="Pesquise Projetos"
               (input)="onSearch()">
        
        @if (filteredProjects().length > 0 && searchTerm()) {
            <ul class="recommendations-list">
                @for (project of filteredProjects(); track project.id) {
                    <li (click)="selectProject(project.id)">
                        {{ project.name }}
                    </li>
                }
            </ul>
        }
    </div>

    <button (click)="DestinyScroll('SobreMim')" class="testandobotoes">Sobre Mim</button>
    <button (click)="DestinyScroll('Contato')" class="testandobotoes">Contato</button>
    <button (click)="DestinyScroll('Curriculo')" class="testandobotoes">Curriculo</button>
</div>

<div class="sidebar" [class.aberta]="isSidebarOpen">
  <div class="sidebar-header">
    <h3 style="color: #cfcfcf; margin: 0; font-family: 'Segoe UI', sans-serif;">Navegação</h3>
    <button class="fechar-btn" (click)="toggleSidebar()">✖</button>
  </div>

  <nav class="sidebar-links">
    <a (click)="DestinyScroll('Projetos'); toggleSidebar()">Projetos</a>
    <a (click)="DestinyScroll('Redes'); toggleSidebar()">Redes</a>
    <a (click)="DestinyScroll('SobreMim'); toggleSidebar()">Sobre Mim</a>
    <a (click)="DestinyScroll('Contato'); toggleSidebar()">Contato</a>
    <a (click)="DestinyScroll('Curriculo'); toggleSidebar()">Currículo</a>
  </nav>
</div>

@if (isSidebarOpen) {
  <div class="overlay" (click)="toggleSidebar()"></div>
}