article {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    width: 100%;
    overflow: hidden;
}

article > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    width: 40vw;
}

.background {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    border-top: solid 50px rgb(34, 34, 34);
    height: 70vh;
    width: 60vw;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.shadow-wrapper {
    filter: drop-shadow(-50px 0px 0px rgb(34, 34, 34));
    display: flex;
    justify-content: center;
    align-items: center;
}

.gabriel {
    width: 40vmin;
    max-width: 350px;
    border-radius: 50%;
    transition: all .3s ease;
    display: block;
    border: solid 5px rgba(0, 0, 0, 0.342);
    outline: solid 10px rgba(255, 255, 255, 0.226);
}

.gabriel:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(22, 22, 22, 0.5);
}

h1 {
    padding: 1px;
    border-bottom: solid 3px rgb(100, 100, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    margin-left: 10vw;
    font-size: 1.5rem;
}

.links {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 10vw;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 0.9rem;
}
.links:hover{
    transform: scale(1.05);
}
.links:active{
    transform: scale(.95);
    background-color: #c7c7c7 ;
}
.redesImg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    article {
        flex-direction: column-reverse;
        height: auto;
    }

    article > div:first-of-type {
        width: 100%;
        height: auto;
        padding: 40px 0;
        align-items: center;
    }

    .background {
        width: 100%;
        height: 50vh;
        clip-path: none;
    }

    .shadow-wrapper {
        filter: none;
    }

    .gabriel {
        width: 60vmin;
    }

    h1, .links {
        margin-left: 0;
    }

    .links:hover {
        transform: scale(1.05);
    }
}