<article>
<div>
<h1>Gabriel Barbero Colombo</h1>
<a href="https://www.linkedin.com/in/gabrielbarberodev/" target="_blank" class="links"><img src="assets/Redes/linkedin.svg" alt="LinkedIn" class="redesImg"><strong>Linkedin</strong></a>
<br>
<a href="https://www.instagram.com/gabrielbarberog/" target="_blank" class="links"><img src="assets/Redes/instagram.svg" alt="Instagram" class="redesImg"><strong>Instagram</strong></a>
<br>
<a href="https://github.com/Gabrielbarbero" target="_blank" class="links"><img src="assets/Redes/github.svg" alt="GitHub" class="redesImg"><strong>GitHub</strong></a>
<br>
</div>
<div class="shadow-wrapper">
<div class="background">
<img src="assets/Redes/Gabriel.png" alt="Gabriel" class="gabriel">
</div>
</div>
</article>
