/* Layout Principal da Apresentação */
article {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 70vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Container de Texto e Links */
article > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    height: 70vh;
    border-bottom: 50px solid #222222;
}

/* Fundo com Recorte Diagonal (Clip-Path) */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 70vh;
    background-color: #3b3b3b;
    border-top: 50px solid #222222;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}




/* Container de Sombra da Imagem */
.shadow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-50px 0px 0px #222222);
}

/* Foto de Perfil */
.gabriel {
    display: block;
    width: 40vmin;
    max-width: 350px;
    border: 5px solid #00000057;
    border-radius: 50%;
    outline: 10px solid #ffffff39;
    transition: all 0.3s ease;
}

.gabriel:hover {
    box-shadow: 0 0 50px #16161680;
    transform: scale(1.05);
}





/* Título da Seção */
h1 {
    width: fit-content;
    margin-left: 10vw;
    padding: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    border-bottom: 3px solid #646464;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 10vw;
    padding: 8px 15px; /* Tamanho original mantido */
    font-family: 'Cascadia Code', monospace;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #8f0000;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.links:hover {
    transform: scale(1.05);
}

.links:active {
    background-color: #660000; /* Vermelho mais escuro para o clique */
    transform: scale(0.95);
}

/* Ícones das Redes Sociais */
.redesImg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}





@media (max-width: 768px) {
    article {
        flex-direction: column-reverse;
        height: auto;
    }

    article > div:first-of-type {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .background {
        width: 100%;
        height: 50vh;
        clip-path: none;
    }

    .shadow-wrapper {
        filter: none;
    }

    .gabriel {
        width: 60vmin;
    }

    h1, 
    .links {
        margin-left: 0;
    }

    .links:hover {
        transform: scale(1.05);
    }
}