<article class="introduction">


    <section class="bash">
        <div class="header">
            <div class="btns">
                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>
            </div>
        </div>
        
        <div class="body-bash">
            <pre><code>{{ displayedCode }}<span class="cursor">_</span></code></pre>
        </div>
    </section>
        <div class="name">
        <h1>Gabriel</h1>
        <h2>Desenvolvedor</h2>
    </div>
</article>