.sobreMim {
    padding: 3vmin 5%;
    background-color: rgb(39, 39, 39);
    color: white;
}

.sobreMim h1 {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    color: #cfcfcf;
    border-bottom: 1px solid #333;
    width: 20vmin;
    margin-bottom: 2rem;
}

.sobreMim h2 {
    text-align: center;
    margin: 2rem 30% 1.5rem 30%;
    font-family: 'Cascadia Code', 'Consolas', 'Courier New', monospace;
    font-weight: 600;
    font-size: 1.6rem;
    color: #8f0000;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
}


.sobreMim p {
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #eeeeee;
    margin-bottom: 1.5rem;
}

.sobreMim img {
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
    margin: 0 8px;
    transition: all 0.3s ease;
}
.sobreMim img:hover{
    transform: scale(1.15);
}
.sobreMim img:active{
    transform: scale(.9);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s ease-out;
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
    visibility: visible !important;
}

@media (max-width: 768px) {
    .sobreMim h2 {
        margin-left: 10%;
        margin-right: 10%;
    }
}