<div class="bio-container" id="sessao-biografia">
    
    <div class="sobreMim">
        <h1 class="hidden">Sobre Mim</h1>
        <h2 class="hidden"> Gabriel | Desenvolvedor</h2>
        <p class="hidden">
            Olá! Sou o Gabriel, tenho 19 anos e sou estudante
            de <b>Ciência da Computação</b>. Atualmente, estou trilhando
            as etapas iniciais da minha carreira na tecnologia
            , movido pela curiosidade de entender como sistemas complexos
            são construídos e pelo desejo de criar soluções que facilitem o dia a dia.
        </p>
        <p class="hidden">
            Minha jornada é marcada por uma abordagem prática: acredito que
            a <b>melhor forma de aprender é construindo</b>. Por isso, foco em transformar
             conceitos teóricos em projetos reais, explorando desde a lógica do backend até
              a fluidez das interfaces modernas.
        </p>
        <h2 class="hidden"> No que venho trabalhando:</h2>
        <p class="hidden"><b>Desenvolvimento Backend:</b> Utilizo linguagens como <a href="https://www.python.org/" target="_blank"><img src="assets/Linguagens-Frameworks/python.svg" alt="Python"></a> e 
            <a href="https://dotnet.microsoft.com/pt-br/languages/csharp" target="_blank"><img src="assets/Linguagens-Frameworks/csharp.svg" alt="c#" class="csharp"></a>
             para estruturar a lógica de aplicações e garantir que as engrenagens
              por trás da tela funcionem com eficiência.
        </p>
        <p class="hidden">
            <b>Ecossistema Web:</b> No frontend, domino o trio <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" target="_blank"><img src="assets/Linguagens-Frameworks/html.svg" alt="html"></a>
             / <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank"><img src="assets/Linguagens-Frameworks/css.svg" alt="Css"></a> 
             / <a href="https://www.typescriptlang.org/" target="_blank"><img src="assets/Linguagens-Frameworks/typescript.svg" alt="TypeScript"></a> e utilizo
             o framework <a href="https://angular.dev/" target="_blank"><img src="assets/Linguagens-Frameworks/Angular.png" alt="angular"></a> para criar interfaces dinâmicas, escaláveis e com foco na
              experiência do usuário.
        </p>
        <p class="hidden">
            <b>Dados:</b> Possuo conhecimento em bancos de dados, 
            entendendo como estruturar e manipular informações de forma segura e organizada.
        </p>
        <h2 class="hidden"> Mentalidade:</h2>
        <p class="hidden">
            Mesmo estando no início da minha caminhada, mantenho um ritmo constante de produção.
             Meu portfólio é um reflexo desse esforço, composto por diversos projetos que testam
              meus limites em diferentes stacks. Busco constantemente evoluir minhas habilidades,
               aprender novas ferramentas e colaborar em ecossistemas que respirem inovação.
        </p>
    </div>


    
</div>